@model ProductDetailViewModels

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout3.cshtml"; }


<ul class="breadcrumb">
    <li><a href="/Home/index">Home</a></li>
    @{ if (Model.Categories.Count > 0)
        {
            <li><a href="/Categories/@Model.Categories[0].Id">@Model.Categories[0].Name</a></li> 
        }
        else
        {
            <li><a href="#">N/A </a></li>
        } 
    }
    <li>@Model.Product.Name</li>
</ul>
<div class="box-container">
    @foreach (var item in Model.Product.ProductDetailViewModels)
    {
        <div class="box-photo-slider @Html.DisplayFor(model => item.ProductDetailName)">
        <div class="slideshow-container">
        @foreach (var img in item.Images)
        {
            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img class="slider-photo" src="@Configuration["BaseAddress"]/user-content/@img.ImagePath" alt="photo" style="width:100%">

            </div>
        }

        <a class="prev" style="left:0px;" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="box-description">
            <p class="box-description__name">@Model.Product.Name</p>
            <p class="box-description__name">Loại phòng: @Html.DisplayFor(model => item.ProductDetailName)</p>
            <span class="box-description__price">
                @Html.DisplayFor(model => item.Price)&#8363 /tháng
            </span>
            <span class="box-description__dtich"> - @(Model.Product.ProductDetailViewModels.ElementAt(0).Width * Model.Product.ProductDetailViewModels.ElementAt(0).Length) m2</span>
            <p class="box-description__address">
                <img src="https://static.chotot.com/storage/icons/logos/ad-param/location.svg" alt="">
                <a style="text-decoration:none; font-size:13px; color:blue;" target="_blank" href="https://www.google.com.vn/maps/place/@Model.Product.Address">@Model.Product.Address</a>
                @*<span>@Model.Product.Address</span>*@
            </p>
            <p style="word-wrap: break-word; width:500px;  white-space: pre-line;" class="box-description__text">
                @Model.Product.Description
            </p>
            @Html.Raw(item.Detail)

            <span style="font-size: 1.4rem;" class="box-description__status-thue"><img class="icon-detail" src="https://static.chotot.com/storage/icons/logos/ad-param/ad_type.png" alt=""> Cho thuê: @Html.DisplayFor(model => item.Stock) phòng</span>
            <span class="box-description__s"><img class="icon-detail" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png" alt=""> Diện tích: @(item.Width * item.Length) m2</span>
            <div style="margin-top: 20px;">
                <span style="font-size: 1.4rem;"><img class="icon-detail" src="https://static.chotot.com/storage/icons/logos/ad-param/furnishing_rent.png" alt=""> Tình trạng nội thất: Nội thất đầy đủ</span>
                <span style="font-size: 1.4rem; margin-left: 85px;"> <img class="icon-detail" src="https://static.chotot.com/storage/icons/logos/ad-param/deposit.png" alt=""> Số tiền cọc: @Html.DisplayFor(model => item.Price)&#8363</span>
            </div>
        </div>

    </div>
    }

    <div class="box-sidebar">
        <a href="/product/GetUserListProducts?ownerId=@Model.Owner.Id" class="box-wrapper-info">
            <div class="box-wrapper-img">
                <img src="@Configuration["BaseAddress"]/user-content/@Model.Owner.AvatarFilePath" alt="@Model.Owner.LastName">
            </div>
            <div class="box-wrapper-name">
                <div class="box-wrapper-name-top">
                    <span>@Model.Owner.LastName</span>
                    <button type="button">Xem trang</button>
                </div>
                <div class="box-wrapper-name-bottom">
                    <div class="dot">•</div>  <span>Hoạt động 2 ngày trước</span>

                </div>
            </div>
        </a>
        <div class="box-wrapper-info1">
            <div class="box-wrapper-item1">
                <p style="margin:0;font-size:1.4rem;">Cá nhân</p>
                <img height="20px" style="margin-right: 0 !important;margin-top: 4px;" src="https://static.chotot.com/storage/chotot-icons/png/private-grey-icon.png" alt="">
            </div>
            <div class="separete"></div>
            <div class="box-wrapper-item2">
                <p style="margin-top:0">Phản hồi gọi</p>
                <span style="color: #222">Thỉnh thoảng</span>
            </div>
        </div>
        <div id="box-showphone" onclick="showPhoneFunction()" class="box-showphone">
            <img class="box-showphone__img" src="https://static.chotot.com.vn/storage/chotot-icons/svg/white-phone.svg" alt="">
            <span>Bấm để hiện số</span>

        </div>
      
        <span id="box-sdt" class="box-sdt">@Model.Owner.PhoneNumber</span>
        <br>

        <select name="name" id="box-select" onchange="myFunction()">
            @foreach (var item in Model.Product.ProductDetailViewModels)
            {
            <option>@Html.DisplayFor(model => item.ProductDetailName)</option>
           
            }
      
        </select>
    </div>
</div>

<script src="~/js/details.js"></script>