@using eRentSolution.ViewModels.Catalog.Products
@using eRentSolution.ViewModels.Common
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model PagedResult<ProductViewModel>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml"; }
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<div class="box-select">
    <p class="category__heading">Lọc phòng theo danh mục</p>
    <div class="box-filter">

        <form asp-action="Index" asp-controller="Product" method="get">
            <select onchange="myFunction1()" class="category-select" id="province" name="categoryId" asp-items="@ViewBag.Categories" required="">
                <option>--Chọn danh mục--</option>
            </select>
            <input class="billing_address_2" name="address" type="hidden" value="">
            <input type="hidden" name="minPrice" class="price-min" placeholder="Giá min">
            <input type="hidden" name="maxPrice" class="price-max" placeholder="Giá max">

            <button type="submit" class="btn-filter">Lọc</button>
        </form>



    </div>

</div>
<div class="box-product">
    <p class="category__heading">Tin đăng cho bạn</p>
    <div class="box-flex">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            ProductViewModel item = Model.Items[i];
            var url = $"/Products/{item.Id}";
            <div class="box-full-flex">
                <div class="box-item">
                    <div style="position: relative;" class="box-item__photo">
                        <a href="roomdetails.html">
                            <a href="@url"> <img src="@Configuration["BaseAddress"]/user-content/@item.ThumbnailImage" alt="" class="box-item__img"></a>
                            <img class="icon-heart" width="20px" src="https://static.chotot.com/storage/chotot-icons/next/save-ad.svg" alt="photos">
                        </a>
                    </div>

                    <div class="box-item__caption">
                        <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; " class="box-item__name">@item.Name</p>
                        <p class="box-item__size">@(item.ProductDetailViewModels.ElementAt(0).Width * item.ProductDetailViewModels.ElementAt(0).Length) m²</p>
                        <p style="text-decoration: line-through;color: #8d8a8a; font-weight: 500; font-size: 1.2rem;" class="box-item-oriPrice">@item.ProductDetailViewModels.ElementAt(0).OriginalPrice&#8363</p>
                        <p class="box-item__price">@item.ProductDetailViewModels.ElementAt(0).Price&#8363</p>
                    </div>
                </div>
            </div>}
    </div>
</div>

@await Component.InvokeAsync("Pager", Model);
<br class="clr" />

<script>
    function getThamSo(nameThamSo) {
        let thamSo = new URLSearchParams(window.location.search);
        return thamSo.get(nameThamSo);
    }
    var address = (getThamSo("address"));
    var minPrice = (getThamSo("minPrice"));
    var maxPrice = (getThamSo("maxPrice"));
    var add = document.querySelector('input.billing_address_2');
    add.value = address;
    document.querySelector(".price-min").value = minPrice;
    document.querySelector(".price-max").value = maxPrice;


    document.querySelector('.k_address').value = address;
    document.querySelector('.k_price-min').value = minPrice;
    document.querySelector('.k_price-max').value = maxPrice;
    function myFunction1() {
        document.querySelector('.k_category').value = document.querySelector(".category-select").value
    }

</script>