@using eRentSolution.ViewModels.Common;
@using eRentSolution.Data.Enums;
@model PagedResult<eRentSolution.ViewModels.Catalog.Products.ProductViewModel>

@{ ViewData["Title"] = "MyListProducts";
                Layout = "~/Views/Shared/_Layout3.cshtml"; }
<div style="display:flex;justify-content:center;align-items:center;width:100vw;height:100%;flex-direction:column; margin: 20px 0 20px 0;">
    <h1>Danh sách phòng</h1>
    <table id="customers">
        <tr>
            <th>Mẫ số</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Địa chỉ</th>
            <th>Mô tả</th>
            <th>Số lượt xem</th>
            <th>Số lượng</th>
            <th>Sản phẩm nổi bật ?</th>
            <th>Tình trạng</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductDetailViewModels[0].Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; max-width:500px; height:60px;">@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.ViewCount)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>@Html.DisplayFor(modelItem => item.IsFeatured)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                @if (item.StatusId == (int)(object)Status.Private)
                {
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Chi tiết", "MyProductDetail", new { id = item.Id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })|
                        @Html.ActionLink("Hiện", "Show", new { id = item.Id })|
                        @Html.ActionLink("Danh mục", "CategoryAssign", new { id = item.Id })|
                        @Html.ActionLink("Thêm chi tiết", "AddDetail", new { id = item.Id })
                    </td>
                }
                else
                {
                     <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Chi tiết", "MyProductDetail", new { id = item.Id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })|
                        @Html.ActionLink("Ẩn", "Hide", new { id = item.Id })|
                        @Html.ActionLink("Danh mục", "CategoryAssign", new { id = item.Id })|
                        @Html.ActionLink("Thêm chi tiết", "AddDetail", new { id = item.Id })
                    </td>
                }
        </tr>
        }
    </table>
    <div style="margin-top:20px;">
         <a class="btn success" asp-action="Create">Tạo mới</a>
    </div>
</div>
@await Component.InvokeAsync("Pager", Model)
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 7px 14px;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

        .success:hover {
            background-color: #4CAF50;
            color: white;
        }

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #4CAF50;
    }
</style>
