@model eRentSolution.ViewModels.System.Users.UserViewModel
@using eRentSolution.Utilities.Constants
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Thông tin người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>
         @if (ViewBag.Success != null)
        {
            <div id="msgAlert" class="alert alert-success" role="alert">
                @ViewBag.Success
            </div>
        }
        @if (TempData["FailResult"] != null)
        {
            <div id="msgAlert" class="alert alert-fail" role="alert">
                @TempData["FailResult"]
            </div>
        }
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Thuộc tính
                            </th>
                            <th>
                                Mô tả
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FirstName)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.LastName)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Dob)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Dob)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Email)
                            </td>
                            @if (Model.EmailConfirmed == true)
                            {
                                <td>
                                    @Html.DisplayFor(model => model.Email)   <i class="fas fa-check tickCheck"></i> 
                                </td> 
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(model => model.Email) <i class="fas fa-times iconTimes"></i> @Html.ActionLink("Xác thực", "SendConfirmEmail", "User", new { Model.Email })
                                </td>
                            }
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.AvatarFilePath)

                            </td>
                            <td>
                                <a href="/User/EditAvatar/@Model.Id"><img src="@Configuration["BaseAddress"]/user-content/@Model.AvatarFilePath" alt="N/A" style="width: 100px; height: 100px; object-fit: cover;"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        @if (Model.Id.ToString().Equals(User.Claims.FirstOrDefault(x => x.Type == SystemConstant.AppSettings.ActorClaimType).Value))
        {
            <form asp-action="ChangePassword" method="get" style="padding: 0 20px 20px 20px;">
                <input asp-for="Id" type="hidden" input />
                <input type="submit" value="Đổi mật khẩu" class="btn btn-danger" />
            </form>
            <form asp-action="Edit" method="get" style="padding: 0 20px 20px 20px;">
                <input asp-for="Id" type="hidden" input />
                <input type="submit" value="Chỉnh sửa" class="btn btn-danger" />
            </form>
        }

        <form asp-action="UserProduct" asp-controller="product" method="get" style="padding: 0 20px 20px 20px;">
            <input asp-for="Id" name="userId" type="hidden" input />
            <input type="submit" value="Sản phẩm của @Model.FirstName" class="btn btn-danger" />
        </form>
        <form asp-action="ActivityLog" asp-controller="user" method="get" style="padding: 0 20px 20px 20px;">
            <input asp-for="Id" name="targetId" type="hidden" input />
            <input type="submit" value="Hoạt động của @Model.FirstName" class="btn btn-danger" />
        </form>
    </div>

</div>


