@using eRentSolution.ViewModels.Common;
@using eRentSolution.Utilities.Constants;
@model PagedResult<eRentSolution.ViewModels.System.Users.ActivityLogViewModel>

@{
    ViewData["Title"] = "Danh sách hoạt động";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách hoạt động</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách hoạt động</li>
    </ol>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card mb-12">
        <div class=" card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form asp-action="PageActivityLog" method="get">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" value=@ViewBag.keyword name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/User/PageActivityLog'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.Success != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.Success
                    </div>
                }
                @if (TempData["FailResult"] != null)
                {
                    <div id="msgAlert" class="alert alert-fail" role="alert">
                        @TempData["FailResult"]
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>
                                Hoạt động
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Ngày thực hiện
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserLastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

