@model eRentSolution.ViewModels.System.Users.UserResetPasswordByEmailRequest

@{ ViewData["Title"] = "ResetPassword";
                Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Xác nhận email</title>

    <script src="https://kit.fontawesome.com/64d58efce2.js"
            rossorigin="anonymous"></script>

    <title>Xác nhận email</title>
    <link rel="stylesheet" href="~/style2.css" />
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <form asp-action="ResetPasswordByEmail">
                    <h2 class="title">Khôi phục mật khẩu </h2>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Date" type="hidden" value="@(ViewContext.HttpContext.Request.Query["expires"])" hidden />
                    <input asp-for="Email" type="hidden" value="@(ViewContext.HttpContext.Request.Query["Email"])" hidden />
                    <input asp-for="Token" type="hidden" value="@(ViewContext.HttpContext.Request.Query["Token"])" hidden />
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Password" type="password" placeholder="Nhập mật khẩu mới" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Xác nhận" class="btn solid" />
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Có gì mới ?</h3>
                    <p>
                        Hãy đăng kí tài khoản để bạn có thể trở thành quản trị viên của website
                    </p>
                    <a href="/Login">
                        <button class="btn transparent">
                            Đăng nhập
                        </button>
                    </a>

                </div>
                <img src="./assets/img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Hãy là một trong số chúng tôi ?</h3>
                    <p>

                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Đăng nhập
                    </button>
                </div>
                <img src="./assets/img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>




<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPasswordByEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Date" type="hidden" value="@(ViewContext.HttpContext.Request.Query["expires"])" hidden />
            <input asp-for="Email" type="hidden" value="@(ViewContext.HttpContext.Request.Query["Email"])" hidden />
            <input asp-for="Token" type="hidden" value="@(ViewContext.HttpContext.Request.Query["Token"])" hidden />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Đặt lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>