@model eRentSolution.ViewModels.Utilities.Slides.SlideViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

@{
    ViewData["Title"] = "Chi tiết trình chiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Slide">Về danh sách</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Thuộc tính
                            </th>
                            <th>
                                Mô tả
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>
                                Hình ảnh
                            </td>
                            <td>
                                <a href="#"><img src="@Configuration["BaseAddress"]/user-content/@Model.FilePath" alt="@Model.Name" style="width: 100px;height:50px;object-fit:cover"></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Id)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ProductId)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ProductName)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Url)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Url)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
<div>
    <form asp-action="Edit" method="get" style="padding: 0 20px 20px 0;">
        <input asp-for="Id" type="hidden" input />
        <input type="submit" value="Edit" class="btn btn-danger" />
    </form>
   
</div>
