@using eRentSolution.ViewModels.Common;
@model PagedResult<eRentSolution.ViewModels.Utilities.Contacts.ContactViewModel>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách thông tin liên hệ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách thông tin liên hệ</li>
    </ol>
    <div class="card mb-12">
        <div class=" card-header">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <a class="btn btn-success" asp-action="create" asp-controller="Contact">Tạo mới</a>
                </div>
                <div class="col-md-9 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" placeholder="Từ khóa...." class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="status" onchange="this.form.submit()" asp-items="@ViewBag.Status" class="form-control">
                                    <option>--Chọn tình trạng--</option>
                                </select>
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/contact/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.Success != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.Success
                    </div>}
                @if (TempData["failResult"] != null)
                {
                    <div id="failAlert" class="alert alert-success" role="alert">
                        @TempData["failResult"]
                    </div>}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã số
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Sđt
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            @if (item.Status == eRentSolution.Data.Enums.Status.Active)
                            {
                                <td>
                                    Hoạt động
                                </td>
                            }
                            else
                            {
                                <td>
                                    Không hoạt động
                                </td>
                            }
                            @if (item.Status == eRentSolution.Data.Enums.Status.Active)
                            {
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { item.Id }) |
                                @Html.ActionLink("Xem", "Details", new { item.Id }) |
                                @Html.ActionLink("Xóa", "Delete", new { item.Id }) |
                                @Html.ActionLink("Ẩn", "Hide", new { item.Id })
                            </td>
                            }
                            else
                            {
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { item.Id }) |
                                @Html.ActionLink("Xem", "Details", new { item.Id }) |
                                @Html.ActionLink("Xóa", "Delete", new { item.Id })|
                                @Html.ActionLink("Hiện", "Show", new { item.Id })

                            </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
