@using eRentSolution.ViewModels.Common;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model PagedResult<eRentSolution.ViewModels.Catalog.Categories.CategoryViewModel>

@{
    ViewData["Title"] = "Danh sách danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh mục sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách danh mục</li>
    </ol>
    <div class="card mb-12">
        <div class=" card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="CreateCategory" asp-controller="Category">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Category/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.Success != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.Success
                    </div>
                }
                @if (TempData["failResult"] != null)
                {
                    <div id="failAlert" class="alert alert-success" role="alert">
                        @TempData["failResult"]
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Ảnh đại diện
                            </th>
                            <th>
                                Mã danh mục
                            </th>
                            <th>
                                Tên dạnh mục
                            </th>
                            <th>
                                Danh mục con của
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                        <tr>
                            <td>
                                <a href="#"><img src="@Configuration["BaseAddress"]/user-content/@item.Image" alt="N/A" style="width: 70px; height: 70px; object-fit: cover;"></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @if (item.ParentId == -1)
                            {
                                <td>
                                    N/A
                                </td>
                            }
                            else
                            {
                                <td>
                                @Html.DisplayFor(modelItem => item.ParentId)
                            </td>
                            }
                            
                        <td>
                            @Html.ActionLink("Chi tiết", "Detail", new { item.Id })|
                            @Html.ActionLink("Sửa ảnh", "EditImage", new { item.Id })|
                            @Html.ActionLink("Chỉnh sửa", "UpdateCategory", new { item.Id, item.Name })|
                            @Html.ActionLink("Xóa", "DeleteCategory", new { item.Id })|
                            @Html.ActionLink("Tạo mục con", "CreateCategory", new { item.Id })
                        </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
