@model eRentSolution.ViewModels.Catalog.Products.ProductViewModel 
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        text-align: center !important;
        vertical-align: middle !important;
    }

    td {
        text-align: center !important;
        vertical-align: middle !important;
    }
    
</style>

<div class="container-fluid">
    <h1 class="mt-4">Chi tiết tin tức</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết tin tức</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Thuộc tính
                            </th>
                            <th>
                                Mô tả
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Address)
                            </td>
                            <td>
                                <a target="_blank" href="https://www.google.com.vn/maps/place/@Html.DisplayFor(model => model.Address)">@Html.DisplayFor(model => model.Address)</a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ViewCount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ViewCount)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Categories)
                            </td>
                            @if (Model.Categories != null)
                            {
                                <td>
                                    @for (int i = 0; i < Model.Categories.Count; i++)
                                    {
                                        @Html.DisplayFor(model => Model.Categories[i])
                                        <br />
                                    }
                                </td> 
                                if (Model.Categories.Count == 0)
                                 {
                                    <td>
                                        N/A
                                    </td> 
                                    }
                                }
                                else
                                {
                                    <td>
                                        N/A
                                    </td>
                                }
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.IsFeatured)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.IsFeatured)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Description)

                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DateCreated)

                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DateCreated)
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ThumbnailImage)

                            </td>
                            <td>
                                <a href="#"><img src="@Configuration["BaseAddress"]/user-content/@Model.ThumbnailImage" alt="@Model.Name" style="width: 100px; height: 100px; object-fit: cover;"></a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Stock)

                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Stock)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; max-width: 120px;">
                                Tên loại tin tức
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 500px;">
                                Chi tiết
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 80px; ">
                                Giá
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 100px; ">
                                Giá gốc
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 100px; ">
                                Chiều rộng
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 100px; ">
                                Chiều dài
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 100px; ">
                                Diện tích
                            </th>
                            <th style="text-align: center; vertical-align: middle; max-width: 150px; ">
                                Hình ảnh
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.ProductDetailViewModels)
                    {
                        <tbody>
                            <tr>
                                <td style="max-height: 600px;">
                                    @Html.DisplayFor(model => item.ProductDetailName)
                                </td>
                                <td style="max-height: 600px; overflow-x: scroll; overflow-y: scroll;">
                                    @Html.Raw(item.Detail)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Price)
                                </td>
                                <td style="max-height: 600px;">
                                    @Html.DisplayFor(model => item.OriginalPrice)
                                </td>
                                <td style="max-height: 600px;">
                                    @Html.DisplayFor(model => item.Width)
                                </td>
                                <td style="max-height: 600px;">
                                    @Html.DisplayFor(model => item.Length)
                                </td>
                                <td style="max-height: 600px;">
                                    @(item.Width * item.Length)
                                </td>
                                <td style="max-height: 600px;">
                                    @if (item.Images.Count > 0)
                                    {
                                        <div style="display:flex; width:311px; height:113px; flex-wrap:wrap; ">
                                            @foreach (var image in item.Images)
                                            {
                                                <a href="#"><img src="@Configuration["BaseAddress"]/user-content/@image.ImagePath" alt="N/A" style="width: 50px; height: 50px; object-fit: cover;"></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="#"><img src="#" alt="N/A" style="width: 100px; height: 100px; object-fit: cover;"></a>
                                    }
                                    </td>
                                </tr>
                        </tbody>
                    }
                </table>

            </div>
        </div>
    </div>
</div>


