@model eRentSolution.ViewModels.Catalog.Products.ProductViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Chi tiết sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="row-cols-md-2">
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.ViewCount)
                    </dt>
                    <dd class="col-sm-12">
                        @Html.DisplayFor(model => model.ViewCount)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Categories)
                    </dt>
                    @if (Model.Categories != null)
                    {

                        for (int i = 0; i < Model.Categories.Count; i++)
                        {
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => Model.Categories[i])
                            </dd>
                        }
                        if (Model.Categories.Count == 0)
                        {
                            <dd class="col-sm-10">
                                N/A
                            </dd>
                        }
                    }
                    else
                    {
                        <dd class="col-sm-10">
                            N/A
                        </dd>
                    }
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.IsFeatured)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsFeatured)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Details)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Details)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.SeoAlias)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SeoAlias)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.SeoDescription)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SeoDescription)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.ThumbnailImage)
                    </dt>
                    <dd class="col-sm-10">
                        <a href="#"><img src="@Configuration["BaseAddress"]/user-content/@Model.ThumbnailImage" alt="@Model.Name"></a>
                    </dd>
                    @foreach (var item in Model.ProductDetailViewModels)
                    {
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => item.Price)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => item.Price)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => item.OriginalPrice)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => item.OriginalPrice)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => item.Stock)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => item.Stock)
                        </dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
