@using eRentSolution.ViewModels.Common;
@model PagedResult<eRentSolution.ViewModels.Catalog.Products.ProductViewModel>

@{ ViewData["Title"] = "Danh sách tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>

}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<div class="container-fluid">
    <h1 class="mt-4">Danh sách tin tức của @ViewBag.UserName</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách tin tức</li>
    </ol>
    <div class="card mb-12">
        <div class=" card-header">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-3 col-xs-12">
                    <select style="margin-left:0; border:1px solid #7f7f7f; height:38px;" id="province" name="calc_shipping_provinces" required="">
                        <option value="">Tỉnh / Thành phố</option>
                    </select>
                    <select style=" border:1px solid #7f7f7f;height:38px;" id="district" name="calc_shipping_district" required="">
                        <option value="">Quận / Huyện</option>
                    </select>
                </div>
                <div class="col-md-7 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" placeholder="Từ khóa...." class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                    <option>--Chọn danh mục--</option>
                                </select>

                            </div>
                            <div class="cold-md-3">
                                <input class="billing_address_2" name="address" type="hidden" value="">
                                <button type="submit" onclick="myFunction()" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href = '/Product/UserProduct/@ViewBag.UserId' " class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.Success != null)
                {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.Success
                </div>}
                @if (TempData["failResult"] != null)
                {
                <div id="failAlert" class="alert alert-success" role="alert">
                    @TempData["failResult"]
                </div>}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã tin tức
                            </th>
                            <th>
                                Tên tin tức
                            </th>
                            <th>
                                Giá hiện tại
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Số lượt xem
                            </th>
                            <th>
                                Tình trạng
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDetailViewModels[0].Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDetailViewModels[0].Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViewCount)
                            </td>

                            @if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.Public)
                            {
                                <td>
                                    Chờ kiểm duyệt
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { item.Id }) |
                                    @Html.ActionLink("Kích hoạt", "ActiveProduct", new { item.Id }) |
                                    @Html.ActionLink("Chặn", "InActiveProduct", new { item.Id }) |
                                    @Html.ActionLink("Tạo chi tiết", "AddDetail", new { item.Id }) |
                                    @Html.ActionLink("Tạo slide", "CreateSlide", new { item.Id })
                                </td>
                             }
                            else if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.Active)
                            {
                                <td>
                                    Hoạt động
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { item.Id }) |
                                    @Html.ActionLink("Chặn", "InActiveProduct", new { item.Id }) |
                                    @Html.ActionLink("Tạo slide", "CreateSlide", new { item.Id })
                                </td>
                             }
                            else if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.InActive)
                            {
                                <td>
                                    Bị khóa
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { item.Id }) |
                                    @Html.ActionLink("Kích hoạt", "ActiveProduct", new { item.Id }) |
                                    @Html.ActionLink("Tạo slide", "CreateSlide", new { item.Id })
                                </td>
                            }
                            else if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.Private)
                            {
                                <td>
                                    Đang ẩn
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { item.Id }) |
                                    @Html.ActionLink("Tạo slide", "CreateSlide", new { item.Id })
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

<script>



    /*=============select tinh quan ==============*/
    if (address_2 = localStorage.getItem('address_2_saved')) {
        $('select[name="calc_shipping_district"] option').each(function () {
            if ($(this).text() == address_2) {
                $(this).attr('selected', '')
            }
        })
        $('input.billing_address_2').attr('value', address_2)
    }
    if (district = localStorage.getItem('district')) {
        $('select[name="calc_shipping_district"]').html(district)
        $('select[name="calc_shipping_district"]').on('change', function () {
            var target = $(this).children('option:selected')
            target.attr('selected', '')
            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
            address_2 = target.text()
            $('input.billing_address_2').attr('value', address_2)
            district = $('select[name="calc_shipping_district"]').html()
            localStorage.setItem('district', district)
            localStorage.setItem('address_2_saved', address_2)
        })
    }
    $('select[name="calc_shipping_provinces"]').each(function () {
        var $this = $(this),
            stc = ''
        c.forEach(function (i, e) {
            e += +1
            stc += '<option value=' + e + '>' + i + '</option>'
            $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
            if (address_1 = localStorage.getItem('address_1_saved')) {
                $('select[name="calc_shipping_provinces"] option').each(function () {
                    if ($(this).text() == address_1) {
                        $(this).attr('selected', '')
                    }
                })
                $('input.billing_address_1').attr('value', address_1)
            }
            $this.on('change', function (i) {
                i = $this.children('option:selected').index() - 1
                var str = '',
                    r = $this.val()
                if (r != '') {
                    arr[i].forEach(function (el) {
                        str += '<option value="' + el + '">' + el + '</option>'
                        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
                    })
                    var address_1 = $this.children('option:selected').text()
                    var district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('address_1_saved', address_1)
                    localStorage.setItem('district', district)
                    $('select[name="calc_shipping_district"]').on('change', function () {
                        var target = $(this).children('option:selected')
                        target.attr('selected', '')
                        $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                        var address_2 = target.text()
                        $('input.billing_address_2').attr('value', address_2)
                        district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('district', district)
                        localStorage.setItem('address_2_saved', address_2)
                    })
                } else {
                    $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
                    district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('district', district)
                    localStorage.removeItem('address_1_saved', address_1)
                }
            })
        })
    })
    function myFunction() {
        var provinceText = $("#province option:selected").text();
        var districtText = $("#district option:selected").text();
        // bien luu dia chi
      
        var address = districtText + "_" + provinceText;
        var add = document.querySelector('input.billing_address_2');
        add.value = address;
        console.log(add.value);
    }


</script>