@model eRentSolution.ViewModels.System.Users.UserViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ 
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout3.cshtml"; 
}
@section Scripts{
<script>setTimeout(function ()
    {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
    <div style="display:flex;justify-content:center;align-items:center;width:100vw;height:100%;flex-direction:column; margin: 20px 0 20px 0;">
    <div style="display:flex; justify-content:space-between;align-items:center">
    @if (ViewBag.Success != null)
    {
        <div style="left:385px;" id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
    @if (TempData["failResult"] != null)
    {
        <div style="left:385px;" id="msgAlert" class="alert alert-success" role="alert">
            @TempData["failResult"]
        </div>
    }
    <h1>Thông tin người dùng</h1>
    </div>
    <table style="font-size:15px" id="customers">
        <tr>
            <th>Thuộc tính</th>
            <th>Mô tả</th>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><img src="@Configuration["BaseAddress"]/user-content/@Model.AvatarFilePath" style="width: 100px; height: 100px"; alt="@Model.LastName"></td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(model => model.LastName)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dob)</td>
            <td>@Html.DisplayFor(model => model.Dob)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            @if (Model.EmailConfirmed == true)
            {
                <td>
                    @Html.DisplayFor(model => model.Email)   <i class="fas fa-check tickCheck"></i>
                </td> 
            }
            else
            {
                <td>
                    @Html.DisplayFor(model => model.Email) <i class="fas fa-times iconTimes"></i> @Html.ActionLink("Xác thực", "SendConfirmEmail", "User", new { Model.Email })
                </td>
            }

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>

        </tr>

    </table>
    <div style="display:flex; justify-content:center;align-items:center;margin-top:20px;">
        <div>
            <a class="btn success" asp-controller="Product" asp-action="MyListProducts">Sản phẩm của tôi</a>
        </div>
        <form asp-action="Edit" method="get" asp-controller="User" style="margin-left:10px;">
            <input asp-for="Id" type="hidden" input />
            <input type="submit" value="Chỉnh sửa thông tin" class="btn danger" />
        </form>
        <form asp-controller="User" asp-action="EditAvatar" method="get" style="margin-left: 10px;">
            <input asp-for="Id" type="hidden" input />
            <input type="submit" value="Chỉnh sửa ảnh đại diện" class="btn info " />
        </form>
    </div>

</div>


<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 7px 14px;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }

    /* Green */
    .success {
        border-color: #4CAF50;
        color: green;
    }

        .success:hover {
            background-color: #4CAF50;
            color: white;
        }

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #4CAF50;
    }

    .danger {
        border-color: #f44336;
        color: red;
    }

        .danger:hover {
            background: #f44336;
            color: white;
        }

    .info {
        border-color: #2196F3;
        color: dodgerblue;
    }

        .info:hover {
            background: #2196F3;
            color: white;
        }
</style>