@using eRentSolution.ViewModels.Common;
@model PagedResult<eRentSolution.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "Danh sách tin tức nổi bật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách tin tức nổi bật</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách</li>
    </ol>
    <div class="card mb-12">
        <div class=" card-header">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <a class="btn btn-success" asp-action="CreateFeatured" asp-controller="FeaturedProduct">Tạo mới</a>
                </div>
                <div class="col-md-10 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-7">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" placeholder="Từ khóa ...................." class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                    <option>--Chọn danh mục--</option>
                                </select>
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.Success != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.Success
                    </div>}
                @if (TempData["failResult"] != null)
                {
                    <div id="failAlert" class="alert alert-success" role="alert">
                        @TempData["failResult"]
                    </div>}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã tin tức
                            </th>
                            <th>
                                Tên tin tức
                            </th>
                            <th>
                                Giá hiện tại
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Số lượt xem
                            </th>
                            <th>
                                Tình trạng
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDetailViewModels[0].Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDetailViewModels[0].Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViewCount)
                            </td>

                            @if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.Public)
                            {
                                <td>
                                    Chờ kiểm duyệt
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", "product", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "DeleteFeature", "FeaturedProduct", new { item.Id }) |
                                    @Html.ActionLink("Kích hoạt", "ActiveProduct", new { item.Id }) |
                                    @Html.ActionLink("Chặn", "InActiveProduct", "product", new { item.Id })
                                </td>
                            }
                            else if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.Active)
                            {
                                <td>
                                    Hoạt động
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", "product", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "DeleteFeature", "FeaturedProduct", new { item.Id }) |
                                    @Html.ActionLink("Chặn", "InActiveProduct", "product", new { item.Id })
                                </td>
                            }
                            else if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.InActive)
                            {
                                <td>
                                    Bị khóa
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", "product", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "DeleteFeature", "FeaturedProduct", new { item.Id }) |
                                    @Html.ActionLink("Kích hoạt", "ActiveProduct", "product", new { item.Id })
                                </td>
                            }
                            else if (item.StatusId == (int)(object)eRentSolution.Data.Enums.Status.Private)
                            {
                                <td>
                                    Đang ẩn
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", "product", new { item.Id }) |
                                    @Html.ActionLink("Xóa", "DeleteFeature", "FeaturedProduct", new { item.Id })
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
